.rightSide {
  flex: 3;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.heading {
  display: flex;
  justify-content: flex-end;
}

.walletButton {
  padding: 10px;
  background: #D06666;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: auto;
}

.mainTitle {
  font-size: 4rem;
} 

.subtitle {
  font-weight: 300;
  font-size: 1.8rem;
}

.mainContent {
  display: flex;
  gap: 2rem;
}

.mainContentText {
  margin: 3rem 0;
}

.mainContentLeft {
  display: flex;
  flex-direction: column;
}

.mintButton {
  background: #D06666;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 1.8rem;
  font-weight: 200;
}

.nftImage {
  border: 1px solid #CDCDCD;
  border-radius: 6px;
  margin-bottom: 20px;
}

.costLabel {
  font-size: 10px;
  margin-top: 10px;
}

.activityTitle {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.activityItem {
  padding: 1rem;
  margin-bottom: 1rem;
  color: white;
  background: #79969F;
  display: flex;
  align-items: center;
}

.mainContentRight {
  flex: 1;
}